<h1>Agregue su producto:</h1>
<div class="formContainer">
    <form id="form" method="post" action="/realtimeproducts" enctype="application/x-www-form-urlencoded">
        
        <label for="inputTitle">Title
            <input type="text" id="inputTitle" name="title">
        </label>

        <label for="inputDescription">Description 
            <input type="text" id="inputDescription" name="description">
        </label>

        <label for="inputPrice">Price
            <input type="number" id="inputPrice" name="price">        
        </label>

        <label for="inputThumbnail">Thumbnail (type URL)
            <input type="txt" id="inputThumbnail" name="thumbnail">
        </label>

        <label for="inputCode">Code
            <input type="text" id="inputCode" name="code">
        </label>

         <label for="inputStock">Stock
            <input type="number" id="inputStock" name="stock">
        </label>

        <label for="inputCategory">Category
            <input type="text" id="inputCategory" name="category">
        </label>

        <label for="inputStatus"> Status (write 'true' or 'false'):
            <input type="text" id="inputStatus" name="status">
        </label>

        <button type="submit" id="addProduct">Submit</button>
    </form>

</div>


<h1> Real Time Products List </h1>
<div class="productsContainer" id="productBox">
    {{#each products}}
    <div class="oneProduct" id="oneProductDiv">
        <h2> {{title}} </h2>
        <h3> Description: {{description}} </h3>
        <h3> Price: {{price}} </h3>
        <h4> Category: {{category}} </h4>
        <h5> Stock: {{stock}} </h5>
        <h5> Code: {{code}} </h5>
        <h6> ID: {{id}} </h6>
    </div>
    {{/each}}
</div>